@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0d0c22;
  --bgSoft: #2d2b42;
  --text: white;
  --textSoft: #e5e5e5;
  --btn: #3673fd;
}

body {
  @apply text-white pt-[60px];
}

.global-gradient {
  background: linear-gradient(
    90deg,
    rgba(124, 6, 6, 1) 0%,
    rgba(58, 167, 164, 1) 100%
  );
}

div:has(> img) {
  @apply z-[-1];
}

a {
  @apply text-inherit;
}

.container {
  @apply max-w-[1440px];
}

.form input,
.form textarea {
  padding: 20px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: var(--bgSoft);
  color: var(--text);
}

.form button {
  padding: 20px;
  background-color: var(--btn);
  color: var(--text);
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
